<!DOCTYPE html>
<html lang="en">
<head>
<style>
    img{
        padding-left: 20px;
        padding-top: 5px;
        width: 166px;
        height: 36px;
    }
    h1{
        font-size: 24px;
        color: rgba(48, 159, 90, 1);
        text-align: center;
    }
</style>

    <title>CheapEats</title>
    <a href="/"><img src="{{url_for('static', filename='cheapeatslogo.png')}}"  alt="CheapEats" /></a>
    <meta name="viewport" content="width=device-width" , inital-scale=1.0>

</head>
    <body>
    <h1>What do you have?</h1>
        <div class="body">
            <br>
                    <svg width="100%" height="210">
                        <a href="/meatandfish"><rect width="200" height="200" rx="20" ry="20" x="520" y="1" style="fill:rgb(255,192,203);stroke: crimson;stroke-width: 2px;"></rect></a>
                        <a href="/fruitandveg"><rect width="200" height="200" rx="20" ry="20" x="780" y="1" style="fill:rgb(173,255,47);stroke: darkgreen;stroke-width: 2px;"></rect></a>
                    </svg>
            <br>
            <br>
            <br>
                    <svg width="100%" height="210">
                        <a href="/dairy"><rect width="200" height="200" rx="20" ry="20" x="520" y="1" style="fill:rgb(253,253,150);stroke: rgba(118, 108, 20, 1);stroke-width: 2px;"></rect></a>
                        <a href="/carbs"><rect width="200" height="200" rx="20" ry="20" x="780" y="1" style="fill:rgb(224,176,255);stroke: darkviolet;stroke-width: 2px;"></rect></a>
                    </svg>

        </div>
    </body>
</html>
