<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    img{
        padding-left: 20px;
        padding-top: 5px;
        width: 166px;
        height: 36px;
    }

</style>
    <title>CheapEats</title>
    <a href="/"><img src="{{url_for('static', filename='cheapeatslogo.png')}}"  alt="CheapEats" /></a>
    <meta name="viewport" content="width=device-width" , inital-scale=1.0>

</head>
</head>
    <body>
        <div class="container">
            <h1>Meat and Fish!</h1>
            <br>
        </div>
    </body>
</html>